# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binaries
*.test

# Go coverage output
*.out

# Vendor (если не используешь vendoring)
vendor/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
logs/
*.log

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build artifacts
bin/
dist/

# Temporary files
tmp/
